# Slope One on Movielens Dataset

## Preparation

In [1]:
%pip install -r ../requirements.txt

Requirement already satisfied: numpy==1.26.4 in c:\users\asus\spr-env\lib\site-packages (from -r ../requirements.txt (line 1)) (1.26.4)
Requirement already satisfied: pandas==2.2.3 in c:\users\asus\spr-env\lib\site-packages (from -r ../requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: matplotlib==3.9.2 in c:\users\asus\spr-env\lib\site-packages (from -r ../requirements.txt (line 3)) (3.9.2)
Requirement already satisfied: seaborn==0.13.2 in c:\users\asus\spr-env\lib\site-packages (from -r ../requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: scikit-surprise==1.1.4 in c:\users\asus\spr-env\lib\site-packages (from -r ../requirements.txt (line 5)) (1.1.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\spr-env\lib\site-packages (from pandas==2.2.3->-r ../requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\spr-env\lib\site-packages (from pandas==2.2.3->-r ../requirements.txt (line 2)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\spr-env\lib\site-packages (from pandas==2.2.3->-r ../requirements.txt (line 2)) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\spr-env\lib\site-packages (from matplotlib==3.9.2->-r ../requirements.txt (line 3)) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\spr-env\lib\site-packages (from matplotlib==3.9.2->-r ../requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\spr-env\lib\site-packages (from matplotlib==3.9.2->-r ../requirements.txt (line 3)) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\spr-env\lib\site-packages (from matplotlib==3.9.2->-r ../requirements.txt (line 3)) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\spr-env\lib\site-packages (from matplotlib==3.9.2->-r ../requirements.txt (line 3)) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\asus\spr-env\lib\site-packages (from matplotlib==3.9.2->-r ../requirements.txt (line 3)) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\spr-env\lib\site-packages (from matplotlib==3.9.2->-r ../requirements.txt (line 3)) (3.1.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\spr-env\lib\site-packages (from scikit-surprise==1.1.4->-r ../requirements.txt (line 5)) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\asus\spr-env\lib\site-packages (from scikit-surprise==1.1.4->-r ../requirements.txt (line 5)) (1.14.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\spr-env\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r ../requirements.txt (line 2)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sys, os
sys.path.append(os.path.abspath("../"))

import pandas as pd

from core.utils import load_algo, load_cv
from api.model import recommend_top_k

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

## Model Training

In [22]:
%run ../core/train_slope_one.py

1.85756546332813

## Model Usage

In [52]:
predictions, algo = load_algo("slope_one_full")

In [55]:
uid = str(100)
iid = str(11)

algo.predict(uid, iid, r_ui=4.0)

Prediction(uid='100', iid='11', r_ui=4.0, est=3.8456792276240215, details={'was_impossible': False})

In [58]:
uid = str(100)
iid = str(115)

algo.predict(uid, iid)

Prediction(uid='100', iid='115', r_ui=None, est=3.501556983616962, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'})

In [61]:
uid = str(100)
k = 20

top_20 = recommend_top_k(predictions, k=k)

pd.DataFrame(top_20[uid], index=(f"Top {n}" for n in range(1, k + 1)))

       movieId  est_r                                              title                               genres   imdbId  tmdbId
Top 1     5746      5                    Galaxy of Terror (Quest) (1981)         Action|Horror|Mystery|Sci-Fi  0082431   28893
Top 2     5764      5                                      Looker (1981)         Drama|Horror|Sci-Fi|Thriller  0082677   21874
Top 3     5919      5                                     Android (1982)                               Sci-Fi  0083557   38849
Top 4     6835      5                         Alien Contamination (1980)                 Action|Horror|Sci-Fi  0082000   39916
Top 5     7899      5  Master of the Flying Guillotine (Du bi quan wa...                               Action  0072913   49636
Top 6     1046      5                             Beautiful Thing (1996)                        Drama|Romance  0115640   10938
Top 7     3851      5                     I'm the One That I Want (2000)                               Comedy  0251739   38548
Top 8   113275      5                    The Hundred-Foot Journey (2014)                         Comedy|Drama  2980648  228194
Top 9   113394      5                             Pretty One, The (2013)                         Comedy|Drama  2140577  174337
Top 10  137595      5                              Magic Mike XXL (2015)                         Comedy|Drama  2268016  264999
Top 11    6300      5        Flickering Lights (Blinkende lygter) (2000)                  Action|Comedy|Crime  0236027   10180
Top 12    2037      5                                  Candleshoe (1977)            Adventure|Children|Comedy  0075807   14612
Top 13    3056      5                                      Oxygen (1999)                 Crime|Drama|Thriller  0160620   18561
Top 14   96004      5  Dragon Ball Z: The History of Trunks (Doragon ...           Action|Adventure|Animation  0142247   39324
Top 15  110130      5                                Nut Job, The (2014)  Adventure|Animation|Children|Comedy  1821658  227783
Top 16    2358      5                                      Savior (1998)                            Drama|War  0120070    2042
Top 17    8010      5                           Power of One, The (1992)                                Drama  0105159   13823
Top 18    8378      5                                 Doctor, The (1991)                                Drama  0101746   26142
Top 19   49265      5     Shooting Dogs (a.k.a. Beyond the Gates) (2005)                Documentary|Drama|War  0420901    8588
Top 20   59018      5                                Visitor, The (2007)                        Drama|Romance  0857191   12473

## Model Testing

In [ ]:
%cd ../core
%python test_slope_one.py

In [6]:
cv_dict = load_cv("cv_slope_one")

cv_df = pd.DataFrame(cv_dict, index=(f"Fold {k}" for k in range(1, 11)))

cv_df.loc["Mean"] = cv_df.mean(axis=0)
cv_df.loc["Stdev"] = cv_df.std(axis=0)

cv_df.drop(columns=[]).transpose()

              Fold 1     Fold 2     Fold 3     Fold 4     Fold 5     Fold 6     Fold 7     Fold 8     Fold 9   Fold 10       Mean      Stdev
test_rmse   0.891047   0.913585   0.898217   0.879436   0.902256   0.881240   0.907897   0.896901   0.889030  0.888254   0.894786   0.010518
test_mae    0.682181   0.698055   0.685295   0.672142   0.690271   0.672226   0.688539   0.682650   0.683091  0.678806   0.683325   0.007528
fit_time   94.360873  96.371453  94.652862  86.993365  79.710790  63.037060  11.915635  13.042376  12.206540  5.912585  55.820354  37.924725
test_time   5.771058   4.370561   5.868461   9.679469  13.870679  17.045807   5.103684   4.995205   4.736937  3.851020   7.529288   4.299534
test_prec   0.715247   0.696523   0.695111   0.697301   0.685635   0.697258   0.699038   0.693665   0.700760  0.699643   0.698018   0.007015
test_rec    0.670862   0.673821   0.677203   0.691066   0.678756   0.678838   0.682636   0.674199   0.678281  0.667363   0.677303   0.006208
test_f1     0.668839   0.664292   0.665994   0.674426   0.660571   0.667477   0.669024   0.663788   0.667988  0.659359   0.666176   0.004188